[submodule "pack/lambdalisue/start/fern.vim"]
	path = pack/lambdalisue/start/fern.vim
	url = https://github.com/lambdalisue/fern.vim
[submodule "pack/lambdalisue/start/fern-hijack.vim"]
	path = pack/lambdalisue/start/fern-hijack.vim
	url = https://github.com/lambdalisue/fern-hijack.vim
